
test-example/.ipynb_checkpoints/sweeps_result-checkpoint.py
test-example/.ipynb_checkpoints/params-checkpoint.py
.env
artifacts/
*.pyc
*.log
wandb/
distilroberta-retrain/
environment_exported.yaml
requirements2.txt
environment_exported.yml
test-example/val_conf_matrix.png
client/.ipynb_checkpoints/github_api-checkpoint.ipynb
